<h1>New Animal:</h1>

<form action="/books" method="post">
  <label for="title">Book Title</label>
  <input id="title" name="title" type="text">
  <label for="author">Enter the author</label>
  <input id="author" name="author" type="text">
  <label for="condition">Animal's Age</label>
  <select name="condition" id="Condition">
    <option value="bad">Bad</option>
    <option value="okay">Okay</option>
    <option value="good">Good</option>
    <option value="mint">Mint</option>
  </select>

  <button type="submit">Go!</button>
</form>