@{
    Layout = "_Layout";
}


<div>
  <h2>@Model.Title</h2>
  <h3>@Model.Author</h3>
  <br>
  <p>Condition: @Model.Condition | Available: 
    @if (Model.Available)
    {
        <span> We have it!</span>
    }
    else
    {
      <span> We don't have it! </span>
    }
  </p>
</div>
<a href="/Books/Edit/@Model.BookId"><p>edit this book</p></a>