@{
    Layout = "_Layout";
}
@using bookstore.Models;




<div id="bookbox">

@foreach (Book book in Model)
{
  <div class="book">
    <h3><a href="/Books/Details/@book.BookId"><p>@book.Title</p></a></h3>
    <h4> @book.Author</h4>
  </div>
} 

@Html.ActionLink($"page {@ViewBag.Page}", "Page", new { page = @ViewBag.Page})
</div>


<a href="/Books/Create"><p>add a book</p></a>

