@{
    Layout = "_Layout";
}

<div class="bookbox">
@foreach (Book book in Model)
{
  <div class="book">  
    <h3><a href="/Books/Details/@book.BookId"><p>@book.Title</p></a></h3>
    <h4> @book.Author</h4>
  </div>
}
</div>
<a href="/Books/Create"><p>add a book</p></a>
<a href="/Books/Page/@("2")"><p>page 2</p></a>
